/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 abr 2023, 0:43:45
    Author     : Cevic
/* Estilos para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Estilos para el contenedor */
#cont {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para los encabezados */
h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

/* Estilos para los bloques de texto */
#intro {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para el botón Enviar */
#env input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#env input[type="submit"]:hover {
  background-color: #45a049;
}

/* Estilos para las etiquetas */
label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

/* Estilos para los campos de entrada */
input[type="text"], input[type="email"] {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="text"]:focus, input[type="email"]:focus {
  border-color: #4CAF50;
}